<p class="a-content" ans-id="<%= @answer.id %>">
  <%= @answer.content %><br>
  score: <%= @answer.score %> | answered by: <%= @answer.author.name %> |<span class="timestamp"> <%= @answer.time_since_creation %> </span>
  <span> | <a class="comment-tab" href="/">add a comment</a> </span>
  <br>
    <% if @answer.comments != nil %>
    <div class="l-comments">
      <% @answer.comments.all.each do |comment| %>
      <br>
        "<%= comment.content %>" | by: <%= comment.author.name %> | <%= comment.time_since_creation %> hours ago
      <br>
      <% end %>
      </div>
    <% end %>

    <div class="hidden_form2">
    <form class="submitcomment" method="POST" action="/questions/,<%= @question.id %>/comments">
    <textarea class="thecomment" name="content" placeholder="Please write your comment here." rows="5" cols="80">
    </textarea>
    <br>
    <input class="commentsend" type="submit" value="add comment">
    </form>
  </div>
</p>
